/**** start defult themw****/


.option-box .gear-check{
	padding: 5px;
	background: #e41a18;
	color: #fff;
	cursor: pointer;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,

  {
	background-color: #e41a18;
}

.dropdown-menu{
	
	border-top: 3px solid #e41a18;
	

}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus{
	background-color: #e41a18;
	
	
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	background-color: #e41a18;
}
.navbar-inverse .navbar-brand span{
	color: #e41a18;
}

.carousel-indicators .active{
	
	background: #e41a18;
}

.glyphicon-ok{

	color:#e41a18; 

}

.glyphicon{
	
    color: #e41a18;

}

.testimonials span{
	
	color:#e41a18; 

}

.testimonials .carousel-indicators li.active {
	
	border:3px solid #e41a18;
	
	}


	.footer .copyright span{
	color: #e41a18;
}
.option-box .color-option{
	
	border: 2px solid #e41a18;
	}




















/**** start defult themw****/