
.beradcrumb-holder{
	background-color:#F5F5F5 ;
	    margin-top: 50px;

}
.beradcrumb{
	padding: 10px 0;
	margin: 50px;

}

h1,h2,h3,h4,h5 .lead{
font-family: 'Yanone Kaffeesatz', sans-serif;
}

.about-us{
	padding: 50px 0;
}

.about-us hr{
	width: 70%;
}
.about-us h1{
	font-size: 70px;
	letter-spacing: 3px;
}

.about-features{
	padding:0 70px;

}

.about-ceo{
padding-top: 20px;
	background-color: #eee;
margin-bottom: 20px;
}

.about-ceo .btn{
	background: #333;
	background-color: #333;

}






/** start faq**/
.faq h1{
	letter-spacing: 3px;
	font-family:'raleway', 'sans-serif';
	font-size: 65px;
}

.faq h1 hr{
	width: 70%
}
.faq{
	padding:40px 0;
}


.faq-questions .panel-heading a:after{
	font-family: 'glyphicon-halflings';
	content:"\e114";
	float: right;
	color: #333;

}









/** end faq**/